.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.field-button {
    height: 50%;
    margin: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    margin-top: 2rem;
    width: 10%;
}